*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
    font-family: Poppins; 
}

.container {
    width: 100%;
    height: 100vh;
    padding: 10px;
    background: #fff;
}

.todo {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow:  0 2px 5px rgba(15, 15, 15, 0.3);
}

.todo h2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(255, 89, 69);
    color: #fff;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('images/unchecked.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url('images/checked.png');
}

ul li span {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    font-size: 22px;
    color: #555;
    top: 5px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}

@media only screen and (max-width: 400px) {
    div.row {
        padding-left: 0;
        height: 60px;
        border-radius: 15px;
        display: block;
    }
    button {
        width: 100%;
        border-radius: 15px;
        padding-block: 10px;
        position: relative;
        top: 5px;
    }
}



